<hr style="width: 100%" />
<br /><br />
<br />
<div class="container-fluid dor">
  <br />
  <br />
  <br />

  <div class="row mb-5 text-center animate__animated animate__backInDown">
    <div class="col-md">
      <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">MrDOR22</h2>
        <ul
          class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
        >

        </ul>
      </div>
    </div>
    <div class="col-md text-center">
      <div class="ftco-footer-widget mb-4 ml-md-5">
        <h2 class="ftco-heading-2">mrdor22@gmail.com</h2>
        <ul class="list-unstyled">

        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Haifa,Israel</h2>
        <div class="d-flex"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center" style="font-size: 0.8em">
      <p>Copyright ©2020 All rights reserved | This site is made by D.Y</p>

      <p>
        <br />
        <br />
        <br />
      </p>
    </div>
  </div>
</div>
